    .footer p{
            font-family: Raleway;
            color: rgb(255, 255, 255);
        }
        .footer h5{
            font-family: Raleway;
            color: rgb(255, 255, 255);
        }
        .footer a{
            font-family: Raleway;
            color: rgb( 79, 236, 103);
        }
        .footer{
            width: 100vw;
            height: auto;
            text-align: left;
        }
        .footerInfo{
            width: 100%;
            height: auto;
        }
        .footer ol{
            float: left;
            width: 25%;
        }
        .footer id{
            color: rgb(255, 255, 255);
            font-size: 20px;
            width: 28px;
            height: 28px;
            text-align: center;
            vertical-align: middle;
            line-height: 32px;
            margin-right: 10px;
            border: 1px solid rgb(255, 255, 255);
            border-radius: 100%;
        }