
// Problem: Links are too close to regular text color.
// Solution: Make them brighter!!
a {
  color: @green-dark;
}

// This should be applied to individual elements.
p {
  text-indent: inherit;
}

// Set .desktop-break in a span tag, and the content inside will be in a new line,
//   but only above the size in the media break.  
@media all and (min-width: 768px){
  .desktop-break {
    display: block;
  }
}
