
// font variables
@raleway: 'Raleway', sans-serif;
@open-sans: 'Open Sans', sans-serif;

// color variables
@text-dark:      #242424;
@text-med:       #4a4a4a;
@text-light:     #959595;
@green-dark:     #3dc67a;
@green-light:    #43eb85;
@purple-dark:    #6737c8;
@lt-grey:        #d2d2d2;

@black:								#1d2530;
@white:								#ffffff;
@navy:								#384250;
@accent: 							#3dbfef;
@accent-lt-white:			#ebf8fd;
@accent-white:				#bbe8f9;
@accent-light:				#7dcbe8;
@accent-hover:				#0093d8;
@dot-grey:						#7a7f80;
@red:									#f90202;
@yellow:							#f9cd02;
@hover-grey:					#b3c8d0;
@grey:								#b5b5b5;
@med-grey: 						#d2d2d2;
@lt-grey:							#e7e7e7;
@lighter-grey:				#f0f0f0;
@lightest-grey:				#f8f8f8;
@lt-blue:							#d6edf5;
@sky-blue:						#c5d0e2;
@sky-grey:						#a3b3c3;
@storm-grey:					#8c9baa;
@thunder:							#697b8e;
@sky-purple:					#57657e;
@off-white: 					#f9f9f9;
@elderberry: 					#363a50;
// text specific colors
@text:								#8e8e8e;
@text-med:						#636363;
@text-dark:						#3f3f3f;
@text-hover:					#666666;

// mixins
.raleway-bold {
  font-family: @raleway;
  font-weight: 600;
}
.raleway-regular {
  font-family: @raleway;
  font-weight: 200;
}

.button (@color) {
  display: block;
  width: 275px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.65em;
  font-size: 16px;
  text-align: center;
  color: @color;
  border: solid 2px @color;
  border-radius: 3px;
}
