
// font variables
@raleway: 'Raleway', sans-serif;
@open-sans: 'Open Sans', sans-serif;

// color variables
@text-dark: #242424;
@text-light: #959595;

// mixins
.raleway-bold {
  font-family: @raleway;
  font-weight: 700;
}
